<br>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate="REVIEW_H"></h3>
        </div>
        <div class="panel-body" id="tour_doc">
            <div ng-show="vm.nodocs">
                <h3 translate="REVIEW_NO_DOCS"></h3>
            </div>
            <div ng-hide="vm.nodocs">
                <iframe  id="textFrame_docview" frameborder="0" src="{{ vm.imageUrl }}" style="width:100%; height: 80vh;"></iframe>
                <h4 translate="REVIEW_LANG_Q" translate-value-lang="{{vm.originalLanguage}}"></h4>
                <div class="radio radio-success radio-inline">
                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline"  ng-model="status1">
                    <label for="inlineRadio1" translate="REVIEW_YES"></label>
                </div>
                <div class="radio radio-danger radio-inline" id="radio2">
                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline"  ng-model="status1">
                    <label for="inlineRadio2" translate="REVIEW_NO"></label>
                </div>
                <br><hr>
                Something else wrong? <a class="text-danger" translate="DOCUMENT_VIEW_REPORT" ng-click="vm.reportDoc(vm.id)"></a>
                <hr>
                <div class="form-group">
                    <button type="button" id="tour_review_submit" class="btn btn-primary" translate="BUTTON_NEXT" ng-click="vm.postReview()"></button>
                    <a href="/" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                </div>
            </div>
        </div>
    </div>
</div>
