<div class="container">
    <h1 align="center" translate="REVIEW_H1"></h1>
    <h3 class="text-success" align="center" translate="REVIEW_H2"></h3>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 translate="UPLOAD_SUCCESSMSG_OWN"></h3>
                </div>
                <!--own uploads-->
                <div class="panel-body">
                    <div ng-repeat="doc in formDataDocs.ownuploads">
                        <div class="list-group marginBT5px">
                            <a class="list-group-item" href="/docs?{{ doc.id }}">
                                <div class="media">
                                    <div class="media-body">
                                        <div  class="media-heading">
                                            <h4 class="salangblue inline paddingR1">{{ doc.title }}</h4>
                                            <h5 class="inline">
                                                <span class="blacktext label label-as-badge {{ getLanguageColor(doc.language) }}Color">{{ doc.languageName }}</span>
                                            </h5>
                                        </div>
                                        {{ doc.description }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--other uploads-->
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 translate="UPLOAD_SUCCESSMSG_OTHERS"></h3>
                </div>
                <div class="panel-body">
                    <div ng-repeat="doc in formDataDocs.alluploads">
                        <div class="list-group marginBT5px">
                            <a class="list-group-item" href="/docs?{{ doc.id }}">
                                <div class="media">
                                    <div class="media-body">
                                        <div  class="media-heading">
                                            <h4 class="salangblue inline paddingR1">{{ doc.title }}</h4>
                                            <h5 class="inline">
                                                <span class="blacktext label label-as-badge {{ getLanguageColor(doc.language) }}Color">{{ doc.languageName }}</span>
                                            </h5>
                                        </div>
                                        {{ doc.description }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>