<!--left col-->
<div class="col-md-6 container">
    <br>
    <!--portal stats-->
    <div class="list-group" ng-show="vm.showPortalStats">
        <div class="list-group-item-heading text-center">
            <b translate="STATS_H1"></b>
        </div>
        <div class="list-group-item list-group-item-info">
            <b translate="WIDGET_STATS_H1"></b>
            <b class="pull-right" translate="WIDGET_STATS_H2"></b>
        </div>
        <a class="list-group-item" href="/leaderboard?1">
            <span class="badge">{{ vm.portalStats['no_users'] }}</span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_USERS"></span>
        </a>
        <a class="list-group-item" href="/recent_uploads?1">
            <span class="badge">{{ vm.portalStats['no_uploads'] }}</span>
            <span class="glyphicon glyphicon-upload"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_UPLOADS"></span>
        </a>
        <a class="list-group-item">
            <span class="badge">{{ vm.portalStats['no_reviews'] }}</span>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_REVIEWS"></span>
        </a>
        <a class="list-group-item">
            <span class="badge">{{ vm.formData.total }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px">Total Resources</span>
        </a>
    </div>
</div>
<!--right col-->
<div class="col-md-6 container">
    <br>
    <!--resource stats-->
    <div class="list-group" ng-show="vm.showLanguageStats">
        <div class="list-group-item-heading text-center">
            <b translate="STATS_H2"></b>
        </div>
        <div class="list-group-item list-group-item-info">
            <b translate="WIDGET_STATS_H1"></b>
            <b class="pull-right" translate="WIDGET_STATS_H2"></b>
        </div>
        <a class="list-group-item" href="/lang/nd">
            <span class="badge">{{ vm.formData['nd'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_ND"></span>
        </a>
        <a class="list-group-item" href="/lang/xh">
            <span class="badge">{{ vm.formData['xh'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_XH"></span>
        </a>
        <a class="list-group-item" href="/lang/zu">
            <span class="badge">{{ vm.formData['zu'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_ZU"></span>
        </a>
        <a class="list-group-item" href="/lang/st">
            <span class="badge">{{ vm.formData['st'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_ST"></span>
        </a>
        <a class="list-group-item" href="/lang/sotho">
            <span class="badge">{{ vm.formData['sotho'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_SOTHO"></span>
        </a>
        <a class="list-group-item" href="/lang/tn">
            <span class="badge">{{ vm.formData['tn'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_TN"></span>
        </a>
        <a class="list-group-item" href="/lang/ss">
            <span class="badge">{{ vm.formData['ss'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_SS"></span>
        </a>
        <a class="list-group-item" href="/lang/ve">
            <span class="badge">{{ vm.formData['ve'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_VE"></span>
        </a>
        <a class="list-group-item" href="/lang/ts">
            <span class="badge">{{ vm.formData['ts'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_TS"></span>
        </a>
    </div>
</div>
