<div class="ngdialog ngdialog-theme-default ng-scope">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content">
        <div class="ngdialog-message">
            <form role="form">
                <h4 translate="PROFILE_DELETE_DOC_Q"></h4>
                <div class="form-group">
                    <button ng-click="deleteDoc()" type="submit" class="btn btn-danger" translate="BUTTON_DELETE"></button>
                    <a ng-click="ngDia.close()" href="#" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                </div>
            </form>
        </div>
        <div class="ngdialog-close"></div>
    </div>
</div>