<!--left coloumn-->
<div id="col_left" class="col-md-3 side-col">
    <div class="panel panel-default side-col">
        <div class="panel-body no-padLR">
            <div ng-include src="'static/templates/widgets/leaderboard_small.html'"></div>
            <div ng-include src="'static/templates/widgets/users_small.html'"></div>
        </div>
    </div>
</div>
<!--middle coloumn-->
<div id="col_middle" class="col-md-6">
    <br>
    <div class="row">
        <!--panel for document views-->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="inline paddingR1">{{ title }}</h3>
                <h4 class="inline"><span class="label label-as-badge {{ getLanguageColor(language) }}Color" style="color: black">{{ languageName }}</span></h4>
                <h4><a href="/profiles/+{{ author }}">{{ author }}</a></h4>
            </div>
            <div class="panel-body">
                <iframe  id="textFrame_docview" frameborder="0" src="{{ docUrl }}" style="width:100%; height: 80vh;"></iframe>
                <div class="well">
                    <h4 translate="DOCUMENT_VIEW_DESCRIPTION"></h4>
                    <br>
                    {{ desc }}
                    <hr>
                    <a class="text-danger" translate="DOCUMENT_VIEW_REPORT" ng-click="vm.reportDoc(id)"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--right coloumn-->
<div id="col_right" class="col-md-3 side-col" >
    <div class="panel panel-default side-col">
        <div class="panel-body no-padLR">
            <div ng-include src="'static/templates/widgets/uploads_small.html'"></div>
            <div ng-include src="'static/templates/widgets/stats_small.html'"></div>
        </div>
    </div>
</div>


