<div class="ngdialog ngdialog-theme-default ng-scope">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content">
        <div class="ngdialog-message">
            <h4 translate="DOCUMENT_VIEW_TEXT1"></h4>
            <h4 translate="DOCUMENT_VIEW_TEXT2"></h4>
            <br>
            <a ng-click="ngDia3.close()" href="#" class="btn btn-default" translate="BUTTON_CLOSE"></a>
        </div>
        <div class="ngdialog-close"></div>
    </div>
</div>