<!--dialogue for editing-->
<div class="ngdialog ngdialog-theme-default ng-scope">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content">
        <div class="ngdialog-message">
            <form role="form">
                <h4 translate="PROFILE_EDIT_DOC"></h4>
                <div class="form-group is-empty">
                    <label class="control-label" translate="UPLOAD_FORM_TITLE"></label>
                    <input type="text" class="form-control" placeholder="{{ 'UPLOAD_FORM_TITLE' | translate }}" ng-model="editUpload.title" required>
                    <span class="help-block" translate="UPLOAD_FORM_TITLE_HELP"></span>
                </div>
                <!--description-->
                <div class="form-group is-empty">
                    <label class="control-label" translate="UPLOAD_FORM_DESCRIPTION"></label>
                    <textarea class="form-control" rows="4" placeholder="{{ 'UPLOAD_FORM_DESCRIPTION' | translate }}" ng-model="editUpload.description" required></textarea>
                    <span class="help-block" translate="UPLOAD_FORM_DESCRIPTION_HELP"></span>
                </div>
                <!--languages-->
                <div class="form-group">
                    <label class="control-label" translate="UPLOAD_FORM_LANGUAGE"></label>
                    <select class="form-control" ng-model="editUpload.language">
                        <option value="isiNdebele">isiNdebele</option>
                        <option value="isiXhosa">isiXhosa</option>
                        <option value="isiZulu">isiZulu</option>
                        <option value="Sesotho">Sesotho</option>
                        <option value="Sesotho sa Leboa">Sepedi</option>
                        <option value="Setswana">Setswana</option>
                        <option value="siSwati">siSwati</option>
                        <option value="Tshivenda">Tshivenda</option>
                        <option value="Xitsonga">Xitsonga</option>
                        <option value="Other" translate="UPLOAD_FORM_LANG_OTHER"></option>
                        <option value="Mixed" translate="UPLOAD_FORM_LANG_MIXED"></option>
                    </select>
                </div>
                <div class="form-group">
                    <button ng-click="updateDocDetails()" class="btn btn-primary" translate="BUTTON_UPDATE"></button>
                    <a ng-click="ngDia2.close()" href="#" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                </div>
            </form>
        </div>
        <div class="ngdialog-close"></div>
    </div>
</div>