<div ng-if="results.canPrint == true">
    <h2>Search Results</h2>
    <p><i>{{results.numResults}} results</i></p>
    <span ng-repeat="doc in results.docs">
       <div class="langLabels" ng-controller="resultsController">
            <div class="col-md-12"><br><a class="resultTitle" ng-controller="resultsController" ng-href={{doc.source_url}}  ng-click="resultClicked($index)" target="_blank">{{doc.title[0]}}</a><span class="{{doc.collection}}Color">{{doc.language}}</span>
    <br></div>
<div class="col-md-12"><a class="resultURL" ng-href={{doc.source_url}} target="_blank">{{doc.source_url}}</a></div>
<br>
<div class="col-md-12">
    <p class="resultMetaData">{{doc.description[0]}}</p><br><br><br></div>
<p class="resultMetaData"><u><b>Score</b></u> = <u>{{doc.score}}</u></p><br><br><br>
<!--Relevance rating buttons-->
<a href="#" ng-click="relevanceVote(1, $index)" class="posRate emoji">&#x1F44D;</a>
<a href="#" ng-click="relevanceVote(0, $index)" class="negRate emoji">&#128078;</a>
<a href="#" ng-click="reportLanguage(doc.source_url, doc.collection)" class="reportLang"> <i class="fa fa-flag"></i> Report incorrect language</a><br><br>
</div>
</span>
<!--Submit and clear relevance ratings-->
<br><br><button class="submitButton" ng-controller="resultsController" ng-click="submitEvaluation()">Submit</button>
<button ng-controller="resultsController" ng-click="clearData()">Clear</button>
</div>