<div id="col_left" class="col-md-3 side-col">
    <div class="panel panel-default side-col">
        <div class="panel-body no-padLR">
            <div ng-include="'static/templates/widgets/leaderboard_small.html'"></div>
            <div ng-include="'static/templates/widgets/users_small.html'"></div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div ng-controller="searchController">
        <div ng-controller="queryController">
            <div ng-if="currentPath()=='/results'">
                <div ng-include="'static/templates/search_feature/search-feature.resultsPage.html'"></div>
            </div>
            <br><br>
            <div id="searchForm">
                <div ng-if="currentPath()!='/results'">
                    <div ng-include="'/static/templates/profiles/level_reminder.html'"></div>
                    <br>
                    <div>
                        <h1 class="text-center text-primary" translate="BANNER"></h1>
                    </div>
                    <div>
                        <div>
                            <span>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for..." ng-model="originalQuery" id="tour_search">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" ng-click="search()" translate="BTN_SEARCH"></button>
                                </span>
                        </div>
                        </span>
                    </div>
                    <!--Select primary language radio buttons-->
                    <div class="col-sm-6">
                        <form>
                            <br><br><u>Select your primary language:</u><br><br>
                            <label>
                            <input type="radio" ng-model="primary.language" value="nd">
                            isiNdebele
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="xh">
                            isiXhosa
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="zu">
                            isiZulu
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="st">
                            Sesotho
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="sotho">
                            Sepedi
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="tn">
                            Setswana
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="ss">
                            siSwati
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="ve">
                            Tshivenda
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="ts">
                            Xitsonga
                        </label><br/>
                            <label>
                            <input type="radio" ng-model="primary.language" value="en">
                            English
                        </label><br/>
                        </form>
                        <br>
                        <!--Select testing method radio buttons-->
                        <form>
                            <br><u>Select a test method:</u><br>
                            <label>
                                <input type="radio" ng-model="testing.method" value="one">
                                Method One
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="testing.method" value="two">
                                Method Two
                            </label><br/>
                        </form>

                    </div>

                    <!--Select languages of results radio buttons-->
                    <div class="col-sm-6">
                        <br><u>Select the language(s) you would like to retrieve your results in <i>(including your primary language)</i>:</u><br><br>
                        <div class="adv_pad">
                            <input id="checkbox1_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.ndebele">
                            <label for="checkbox1_advanced_tab">isiNdebele</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox2_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.xhosa">
                            <label for="checkbox2_advanced_tab">isiXhosa</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox3_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.zulu">
                            <label for="checkbox3_advanced_tab">isiZulu</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox4_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.sesotho">
                            <label for="checkbox4_advanced_tab">Sesotho</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox5_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.sotho">
                            <label for="checkbox5_advanced_tab">Sepedi</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox6_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.tswana">
                            <label for="checkbox6_advanced_tab">Setswana</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox7_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.swazi">
                            <label for="checkbox7_advanced_tab">siSwati</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox8_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.venda">
                            <label for="checkbox8_advanced_tab">Tshivenda</label>
                        </div>
                        <div class="adv_pad">
                            <input id="checkbox9_advanced_tab" class="styled" type="checkbox" ng-model="searchLanguage.tsonga">
                            <label for="checkbox9_advanced_tab">Xitsonga</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <br><br>
</div>
</div>
<div id="col_right" class="col-md-3 side-col">
    <div class="panel panel-default side-col">
        <div class="panel-body no-padLR">
            <div ng-include="'static/templates/widgets/uploads_small.html'"></div>
            <div ng-include="'static/templates/widgets/stats_small.html'"></div>
        </div>
    </div>
</div>