<div ng-controller="resultsController">

    <!--English Search-->
    <div ng-if="searchLanguage.english == true">
        <solr-search-results solr-collection-url="'/English/select'" current-collection="'en'"></solr-search-results>
        <!--<total-search-results solr-collection-url="'/English/select'" current-collection="'en'"></total-search-results>-->
        <!--<browse-all-search-results></browse-all-search-results>-->
    </div>

    <!--Ndebele search-->
    <div ng-if="searchLanguage.ndebele == true">
        <solr-search-results solr-collection-url="'/isiNdebele/select'" current-collection="'nd'"></solr-search-results>
    </div>

    <!--Sotho search-->
    <div ng-if="searchLanguage.sotho == true">
        <solr-search-results solr-collection-url="'/Sesotho_sa_Leboa/select'" current-collection="'sotho'"></solr-search-results>
    </div>

    <!--Sesotho search-->
    <div ng-if="searchLanguage.sesotho == true">
        <solr-search-results solr-collection-url="'/Sesotho/select'" current-collection="'st'"></solr-search-results>
    </div>

    <!--Swazi search-->
    <div ng-if="searchLanguage.swazi == true">
        <solr-search-results solr-collection-url="'/siSwati/select'" current-collection="'ss'"></solr-search-results>
    </div>

    <!--Tsonga search-->
    <div ng-if="searchLanguage.tsonga == true">
        <solr-search-results solr-collection-url="'/Xitsonga/select'" current-collection="'ts'"></solr-search-results>
    </div>

    <!--Tswana search-->
    <div ng-if="searchLanguage.tswana == true">
        <solr-search-results solr-collection-url="'/Setswana/select'" current-collection="'tn'"></solr-search-results>
    </div>

    <!--Venda search-->
    <div ng-if="searchLanguage.venda == true">
        <solr-search-results solr-collection-url="'/Tshivenda/select'" current-collection="'ve'"></solr-search-results>
    </div>

    <!--Xhosa search-->
    <div ng-if="searchLanguage.xhosa == true">
        <solr-search-results solr-collection-url="'/isiXhosa/select'" current-collection="'xh'"></solr-search-results>
    </div>

    <!--Zulu seach-->
    <div ng-if="searchLanguage.zulu == true">
        <solr-search-results solr-collection-url="'/isiZulu/select'" current-collection="'zu'"></solr-search-results>
    </div>
</div>