<div class="container">
    <h1 align="center" translate="LEADERBOARD_H"></h1>
    <div ng-hide="authUser">
        <h4 class="text-primary" translate="LEADERBOARD_NH1" translate-value-no_users="{{ no_users }}"></h4>
    </div>
    <div ng-show="authUser">
        <hr>
        <br>
        <!--headings-->
        <h4 class="text-center">
            <span translate="LEADERBOARD_NH4"></span>
            <span><b style="color: red;">{{ formDataStats.pointsLeft }}</b></span>
            <span translate="LEADERBOARD_NH5"></span>
            <span><b style="color: green;">{{ formDataStats.level + 1 }}</b>!</span>
        </h4>
        <br>
        <!--progress bar-->
        <div class="progress">
            <div class="input-group">
                <span class="input-group-addon" style="background-color: green; color: white;border-color: black" translate="LEADERBOARD_NH2" translate-value-level="{{ formDataStats.level  }}"></span>
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ formDataStats.percentage }}" aria-valuemin="{{ formDataStats.capmin }}" aria-valuemax="{{ formDataStats.capmax }}" style="width: {{ formDataStats.percentage }}%;">
                    <span>{{ formDataStats.points }}/{{ formDataStats.capmax }} ({{ formDataStats.percentage }}%)</span>
                </div>
                <span class="input-group-addon" style="background-color: dimgray;color: white;border-color: black" translate="LEADERBOARD_NH2" translate-value-level="{{ formDataStats.level+1 }}"></span>
            </div>
        </div>
        <hr>
        <h4><a href="/leaderboard?{{ pageListed }}" translate="LEADERBOARD_NH3" translate-value-amount1="{{ placement }}" translate-value-amount2="{{ no_users }}"></a></h4>
    </div>
    <!--the actual table of users-->
    <table class="table table-hover ">
        <thead>
        <tr>
            <th class="tableheading">#</th>
            <th translate="LEADERBOARD_USERNAME_H" class="tableheading"></th>
            <th class="cell-align tableheading" translate="LEADERBOARD_H1"></th>
            <th class="cell-align tableheading" translate="LEADERBOARD_H2"></th>
            <th class="cell-align tableheading" translate="LEADERBOARD_H3"></th>
            <th class="cell-align tableheading" translate="LEADERBOARD_POINTS_H"></th>
        </tr>
        </thead>
        <tbody id="tablebody" ng-repeat="user in formData.users">
        <tr>
            <th scope="row" class="tableheading">
                {{ start + $index }}
            </th>
            <td>
                <a href="/profiles/+{{ user.username }}">
                    <span ng-switch="{{ start + $index }}">
                    <span ng-switch-when="1">
                        <span class="gold glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <span ng-switch-when="2">
                        <span class="silver glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <span ng-switch-when="3">
                        <span class="bronze glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span>
                    <span ng-switch-default>
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </span></span>
                         {{ user.username }}
                </a>
            </td>
            <td class="cell-align">{{ user.reviews }}</td>
            <td class="cell-align">{{ user.doc_uploads }}</td>
            <td class="cell-align">{{ user.views }}</td>
            <td class="cell-align">{{ user.points }}</td>
        </tr>
        </tbody>
    </table>
    <!--pagination-->
    <div class="text-center">
        <ul id="pager_leaderboard" class="pagination">
            <li id="pager_start_leaderboard">
                <a id="pager_start_a_leaderboard" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li id="pager_end_leaderboard">
                <a id="pager_end_a_leaderboard" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>
