<!--left col-->
<div id="col_left" class="col-md-3 side-col">
    <div class="panel panel-default side-col">
        <div class="panel-body no-padLR">
            <div ng-include src="'static/templates/widgets/leaderboard_small.html'"></div>
        </div>
    </div>
</div>
<!--middle col-->
<div class="container col-md-6">
    <br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate="UPLOAD_FORM_HEADING"></h3>
        </div>
        <div id="mainpanel" class="panel-body" style="height: 50vh;">
            <br><br><br><br><br>
            <div>
                <!--upload button-->
                <div ng-show="vm.icon" id="upload-overlay">
                    <div title="{{ 'UPLOAD_TITLE_NOFILES' | translate }}" class="row" align="center">
                            <span id="fileuploadicon" class="fa fa-arrow-circle-o-up" aria-hidden="true" style="position: relative;">
                                <input type="file" id="file1" name="file01" ng-files="vm.getLocalFile($files)" accept=".txt,.doc,.docx,.pdf" multiple class="fileinput-custom" ng-click="vm.icon = !vm.icon">
                            </span>
                    </div>
                    <div class="row" align="center">
                        <h4 translate="UPLOAD_UNDERHEADING"></h4>
                    </div>
                </div>
                <!--progress bar-->
                <div ng-show="!vm.icon" id="progress-bar-overlay" class="progress-container col-md-4 col-md-offset-4">
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-primary"></div>
                    </div>
                    <div class="row" align="center">
                        <h4 translate="UPLOAD_PROGRESS"></h4>
                    </div>
                </div>
                <!--upload fields-->
                <div id="the_object" ng-show="vm.showFields">
                    <form name="docforms" novalidate>
                        <div class="form-group" ng-repeat="doc in formData.docs">
                            <ng-form name="form_1">
                                <h4>{{ doc.heading }}<i>{{ doc.filename }}</i></h4>
                                <!--title-->
                                <div class="form-group is-empty">
                                    <label class="control-label" translate="UPLOAD_FORM_TITLE" id="tour_title_{{$index}}"></label>
                                    <input type="text" class="form-control" placeholder="{{ 'UPLOAD_FORM_TITLE' | translate }}" ng-model="doc.title" required>
                                    <span class="help-block" translate="UPLOAD_FORM_TITLE_HELP"></span>
                                </div>
                                <!--description-->
                                <div class="form-group is-empty">
                                    <label class="control-label" translate="UPLOAD_FORM_DESCRIPTION" id="tour_desc_{{$index}}"></label>
                                    <textarea class="form-control" rows="4" placeholder="{{ 'UPLOAD_FORM_DESCRIPTION' | translate }}" ng-model="doc.description" required></textarea>
                                    <span class="help-block" translate="UPLOAD_FORM_DESCRIPTION_HELP"></span>
                                </div>
                                <!--language-->
                                <div class="form-group">
                                    <div class="alert alert-dismissible alert-warning">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <p translate="UPLOAD_FORM_LANGUAGE_HELP"></p>
                                    </div>
                                    <label class="control-label" translate="UPLOAD_FORM_LANGUAGE" id="tour_language_{{$index}}"></label>
                                    <select class="form-control" ng-model="doc.language">
                                        <option value="isiNdebele">isiNdebele</option>
                                        <option value="isiXhosa">isiXhosa</option>
                                        <option value="isiZulu">isiZulu</option>
                                        <option value="Sesotho">Sesotho</option>
                                        <option value="Sesotho sa Leboa">Sepedi</option>
                                        <option value="Setswana">Setswana</option>
                                        <option value="siSwati">siSwati</option>
                                        <option value="Tshivenda">Tshivenda</option>
                                        <option value="Xitsonga">Xitsonga</option>
                                        <option value="Other" translate="UPLOAD_FORM_LANG_OTHER"></option>
                                        <option value="Mixed" translate="UPLOAD_FORM_LANG_MIXED"></option>
                                    </select>
                                </div>
                            </ng-form>
                            <hr>
                        </div>
                    </form>
                    <!--submit-->
                    <div class="form-group">
                        <button id="tour_upload_btn" ng-click="vm.finishUpload()" type="submit" class="btn btn-primary" translate="BUTTON_SUBMIT"></button>
                        <a href="/" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--right col-->
<div id="col_right" class="col-md-3 side-col" >
    <div class="panel panel-default side-col">
        <div class="panel-body no-padLR">
            <div ng-include src="'static/templates/widgets/uploads_small.html'"></div>
        </div>
    </div>
</div>
