<br><br>
<div class="container col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate="RECENT_HEADING"></h3>
        </div>
        <!--documents-->
        <div class="panel-body">
            <div ng-repeat="doc in formDataDocs.uploads">
                <div class="list-group marginBT5px">
                    <a class="list-group-item" href="/docs?{{ doc.id }}">
                        <div class="media">
                            <div class="media-body">
                                <div  class="media-heading">
                                    <h4 class="salangblue inline paddingR1">{{ doc.title }}</h4>
                                    <h5 class="inline">
                                        <span class="blacktext label label-as-badge {{ getLanguageColor(doc.language) }}Color">{{ doc.languageName }}</span>
                                    </h5>
                                </div>
                                {{ doc.description }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--pagination-->
            <div class="text-center">
                <ul id="pager_recent" class="pagination">
                    <li id="pager_start_recent">
                        <a id="pager_start_a_recent" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li id="pager_end_recent">
                        <a id="pager_end_a_recent" hreref="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

