<br>
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate="BUTTON_LOGIN"></h3>
        </div>
        <div class="panel-body">
            <!--Facebook button-->
            <div ng-controller="FacebookButtonController">
                <fb:login-button scope="public_profile,email" onlogin="checkLogin" translate="REGISTER_FACEBOOK_BUTTON"></fb:login-button>
            </div>
            <h4 translate="OR"></h4>
            <!--normal log in-->
            <form role="form">
                <div class="form-group is-empty">
                    <label for="inputEmail" class="control-label" translate="REGSITER_FORM_EMAIL"></label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="{{ 'REGISTER_PH_EMAIL' | translate }}" ng-model="vm.email">
                </div>
                <div class="form-group is-empty">
                    <label for="login_password" class="control-label" translate="REGSITER_FORM_PASSWORD"></label>
                    <input type="password" class="form-control" id="login_password" ng-model="vm.password" placeholder="{{ 'REGISTER_PH_PASSWORD' | translate }}" />
                </div>

                <button ng-click="vm.login()" type="submit" class="btn btn-primary" translate="BUTTON_LOGIN"></button>
                <a href="/" class="btn btn-default" translate="BUTTON_CANCEL"></a>
            </form>
        </div>
    </div>
</div>



