<br>
<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" translate="BUTTON_REGISTER"></h3>
        </div>
        <div class="panel-body" ng-show="vm.showLangs">
            <!--facebook button-->
            <div ng-controller="FacebookButtonController">
                <fb:login-button scope="public_profile,email" onlogin="checkLogin" translate="REGISTER_FACEBOOK_BUTTON"></fb:login-button>
            </div>
            <h4 translate="OR"></h4>
            <!--normal register-->
            <div>
                <form role="form" ng-submit="vm.register()">
                    <div class="form-group is-empty required">
                        <label class="control-label" for="register_email" translate="REGSITER_FORM_EMAIL"></label>
                        <input type="email" class="form-control" id="register_email" ng-model="vm.email" placeholder="{{ 'REGISTER_PH_EMAIL' | translate }}" />
                    </div>
                    <div class="form-group is-empty required">
                        <label class="control-label" for="register_username" translate="REGSITER_FORM_USERNAME"></label>
                        <input type="text" class="form-control" id="register_username" ng-model="vm.username" placeholder="{{ 'REGISTER_PH_USERNAME' | translate }}" />
                    </div>
                    <div class="form-group is-empty required">
                        <label class="control-label" for="register_name" translate="REGSITER_FORM_NAME"></label>
                        <input type="text" class="form-control" id="register_name" ng-model="vm.name" placeholder="{{ 'REGISTER_PH_NAME' | translate }}"/>
                    </div>
                    <div class="form-group is-empty required">
                        <label class="control-label" for="register_password" translate="REGSITER_FORM_PASSWORD"></label>
                        <input type="password" class="form-control" id="register_password" ng-model="vm.password" placeholder="{{ 'REGISTER_PH_PASSWORD' | translate }}" />
                    </div>
                    <div class="form-group is-empty required">
                        <label class="control-label" translate="REGSITER_FORM_REQ"></label>
                    </div>
                    <a href="/login" translate="LOGIN_FORM_MEMBER"></a>
                    <br><br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" translate="BUTTON_NEXT"></button>
                        <a href="/" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                    </div>
                </form>
            </div>

        </div>
        <!--selecting languages-->
        <div class="panel-body" ng-show="!vm.showLangs">
            <form role="form" ng-submit="vm.captureLanguages()">
                <h5 translate="REGSITER_FORM_LANG_H"></h5>
                <div class="input-group">
                    <div class="checkbox checkbox-primary">
                        <div >
                            <input id="checkbox1" class="styled" type="checkbox" ng-model="nd_check">
                            <label for="checkbox1">isiNdebele</label>
                        </div>
                        <div >
                            <input id="checkbox2" class="styled" type="checkbox" ng-model="xh_check">
                            <label for="checkbox2">isiXhosa</label>
                        </div>
                        <div>
                            <input id="checkbox3" class="styled" type="checkbox" ng-model="zu_check">
                            <label for="checkbox3">isiZulu</label>
                        </div>
                        <div >
                            <input id="checkbox4" class="styled" type="checkbox" ng-model="so_check">
                            <label for="checkbox4">Sesotho</label>
                        </div>
                        <div >
                            <input id="checkbox5" class="styled" type="checkbox" ng-model="sotho_check">
                            <label for="checkbox5">Sepedi</label>
                        </div>
                        <div >
                            <input id="checkbox6" class="styled" type="checkbox" ng-model="tswana_check">
                            <label for="checkbox6">Setswana</label>
                        </div>
                        <div >
                            <input id="checkbox7" class="styled" type="checkbox" ng-model="si_check">
                            <label for="checkbox7">siSwati</label>
                        </div>
                        <div >
                            <input id="checkbox8" class="styled" type="checkbox" ng-model="ve_check">
                            <label for="checkbox8">Tshivenda</label>
                        </div>
                        <div >
                            <input id="checkbox9" class="styled" type="checkbox" ng-model="ts_check">
                            <label for="checkbox9">Xitsonga</label>
                        </div>
                    </div>
                </div>
                <!--submit buttons-->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" translate="BUTTON_SUBMIT"></button>
                    <a href="/" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                </div>
            </form>
        </div>
    </div>
</div>

