<div class="container grey-bg footer-cust">
    <div class="row align-center" >
        <a href="/"><h1 id="logo2">BantuWeb</h1></a>
        <h4 class="inline" ng-controller="HelpButtonController as vm" >
            <a href="/pp" style="color: white;" translate="FOOTER_PRIVACY_POLICY"></a>
            |
            <a href="/tos" style="color: white;" translate="FOOTER_TERMS_OF_USE"></a>
            |
            <a href="/about" style="color: white;" translate="FOOTER_ABOUT_US"></a>
            |
            <a href="#" style="color: white;" translate="FOOTER_CONTACT_US"></a>
            |
            <a href="#" style="color: white;" translate="FOOTER_SITEMAP"></a>
            |
            <a id="tour_help_btn" ng-click="vm.help()" href="#" style="color: white;" translate="FOOTER_HELP"></a>
        </h4>
    </div>
    <div class="row">
        <h5 class="copyright" translate="FOOTER_COPYRIGHT"></h5>
    </div>
</div>


