<!doctype html>
<html ng-app="salang" lang="{{ lang }}">
<head>
    <meta charset="utf-8">
    <title>BantuWeb</title>
    <base href="/" />
    <!--stylesheets-->
    {% include 'stylesheets.html' %}
    <!--javascripts-->
    {% include 'javascripts.html' %}
    <!--favicons-->
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <!--<meta name="google-signin-scope" content="profile email">-->
    <meta name="google-signin-client_id" content="792176294852-f53ir97i7ne0vohfg3d30pp7kud4v46v.apps.googleusercontent.com">
</head>
<body>
<div id="wrapper" class="col-md-12">
    <header id="content">
        {% include 'navbar.html' %}
        <div id="spacer"></div>
        <div class="ng-view" id="main_content_index"></div>
    </header>
</div>
<div class="col-md-12 footer-cust">
    {% include 'footer.html' %}
</div>
<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>
