<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
<script type="text/javascript" src="/static/bower_components/underscore/underscore.js"></script>

<script type="text/javascript" src="/static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-cookies/angular-cookies.min.js"></script>

<script type="text/javascript" src="/static/bower_components/ngDialog/js/ngDialog.min.js"></script>
<script type="text/javascript" src="/static/lib/snackbarjs/snackbar.min.js"></script>

<script type="text/javascript" src="/static/bower_components/angular-translate/angular-translate.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-translate-handler-log/angular-translate-handler-log.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-translate-storage-local/angular-translate-storage-local.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<!--social media plugins-->
<script type="text/javascript" src="/static/bower_components/angular-facebook/lib/angular-facebook.js"></script>
<script src="https://apis.google.com/js/api:client.js"></script>

<!--other-->
<script type="text/javascript" src="/static/lib/hopscotch/js/hopscotch.min.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>

<!--own-->
<script type="text/javascript" src="/static/javascripts/salang.js"></script>
<script type="text/javascript" src="/static/javascripts/salang.config.js"></script>
<script type="text/javascript" src="/static/javascripts/salang.routes.js"></script>

<script type="text/javascript" src="/static/javascripts/utils/utils.module.js"></script>
<script type="text/javascript" src="/static/javascripts/utils/services/snackbar.service.js"></script>
<script type="text/javascript" src="/static/javascripts/utils/controllers/google_button.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/utils/controllers/facebook_button.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/utils/services/language.service.js"></script>
<script type="text/javascript" src="/static/javascripts/utils/configs/notification.config.js"></script>




<script type="text/javascript" src="/static/javascripts/authentication/authentication.module.js"></script>
<script type="text/javascript" src="/static/javascripts/authentication/services/authentication.service.js"></script>
<script type="text/javascript" src="/static/javascripts/layout/layout.module.js"></script>
<script type="text/javascript" src="/static/javascripts/layout/controllers/navbar.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/authentication/controllers/login.controller.js"></script>

<script type="text/javascript" src="/static/javascripts/profiles/profiles.module.js"></script>
<script type="text/javascript" src="/static/javascripts/profiles/controllers/profiles.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/profiles/services/profiles.service.js"></script>
<script type="text/javascript" src="/static/javascripts/profiles/controllers/profile_settings.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/profiles/controllers/profile_searched.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/profiles/controllers/profile_languages.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/profiles/controllers/reminder.controller.js"></script>



<script type="text/javascript" src="/static/javascripts/leaderboard/leaderboard.module.js"></script>
<script type="text/javascript" src="/static/javascripts/leaderboard/services/leaderboard.service.js"></script>
<script type="text/javascript" src="/static/javascripts/leaderboard/controllers/leaderboard.controller.js"></script>

<script type="text/javascript" src="/static/javascripts/file_uploads/upload.module.js"></script>
<script type="text/javascript" src="/static/javascripts/file_uploads/controllers/upload.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/file_uploads/controllers/upload_success.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/file_uploads/controllers/upload_recent.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/file_uploads/directives/upload.directive.js"></script>
<script type="text/javascript" src="/static/javascripts/file_uploads/services/upload.service.js"></script>
<script type="text/javascript" src="/static/javascripts/file_uploads/directives/input_field.directive.js"></script>



<script type="text/javascript" src="/static/javascripts/translation/translation.module.js"></script>
<script type="text/javascript" src="/static/javascripts/translation/controllers/languageSelect.controller.js"></script>

<script type="text/javascript" src="/static/javascripts/search_feature/search.module.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/controllers/search.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/controllers/search-query.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/controllers/search-results.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/directives/search.directive.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/directives/totalSearch.directive.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/directives/browseAllSearch.directive.js"></script>
<script type="text/javascript" src="/static/javascripts/search_feature/services/search-be.service.js"></script>


<script type="text/javascript" src="/static/javascripts/documents/document.module.js"></script>
<script type="text/javascript" src="/static/javascripts/documents/controllers/document.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/documents/services/document.service.js"></script>

<script type="text/javascript" src="/static/javascripts/reviews/review.module.js"></script>
<script type="text/javascript" src="/static/javascripts/reviews/controllers/review.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/reviews/services/review.service.js"></script>



<script type="text/javascript" src="/static/javascripts/tour/tours/home_tour.js"></script>
<script type="text/javascript" src="/static/javascripts/tour/tours/upload_tour.js"></script>
<script type="text/javascript" src="/static/javascripts/tour/tours/review_tour.js"></script>
<script type="text/javascript" src="/static/javascripts/tour/tour.module.js"></script>
<script type="text/javascript" src="/static/javascripts/tour/services/tour.service.js"></script>
<script type="text/javascript" src="/static/javascripts/tour/controllers/tour-help.controller.js"></script>

<script type="text/javascript" src="/static/javascripts/widgets/widgets.module.js"></script>
<script type="text/javascript" src="/static/javascripts/widgets/controllers/leaderboard_widget.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/widgets/controllers/users_widget.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/widgets/controllers/stats_widget.controller.js"></script>
<script type="text/javascript" src="/static/javascripts/widgets/controllers/uploads_widget.controller.js"></script>


<script type="text/javascript" src="/static/javascripts/stats/stats.module.js"></script>
<script type="text/javascript" src="/static/javascripts/stats/services/stats.service.js"></script>
<script type="text/javascript" src="/static/javascripts/stats/controllers/stats.controller.js"></script>