<nav id="main_navbar_element" class="navbar navbar-default bg-primary" role="navigation" ng-controller="NavbarController as vm">

    <div class="container-fluid" id="content_to_measure">
        <div id="headerown">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#salang-navbar">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><h1 id="logo" class="navbar-brand">BantuWeb</h1></a>
        </div> <!-- ./navbar-header -->
        <div class="collapse navbar-collapse" id="salang-navbar">
            <ul class="nav navbar-nav" id="target">
                <li class="dropdown" id="first_dd">
                    <button class="btn btn-default dropdown-toggle" type="button" id="drop_down_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span translate="NAVBAR_BROWSE"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="/recent_uploads?1" translate="NAVBAR_BROWSE_RECENT"></a></li>
                        <li><a href="/browse/language" translate="NAVBAR_BROWSE_LANG"></a></li>
                        <!--<li><a href="#" translate="NAVBAR_BROWSE_ALL"></a></li>-->
                    </ul>
                </li>
                <li class="dropdown" id="second_dd">
                    <button class="btn btn-default dropdown-toggle" type="button" id="drop_down_2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span translate="NAVBAR_CONTRIBUTE"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="tour_upload" href="/upload" translate="NAVBAR_SUBMIT"></a></li>
                        <li><a id="tour_review" href="/review" translate="NAVBAR_REVIEW"></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a id="tour_leaderboard" href="/leaderboard?1" translate="NAVBAR_LEADERBOARD"></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li ng-if="vm.authenticated">
                    <a id="tour_profile" href="/+{{ formData.username }}">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="second_username">{{ formData.username }}</span>
                    </a>
                </li>
                <li ng-if="vm.authenticated">
                    <a id="logout_btn" href="#" ng-click="vm.logout()">
                        <span translate="NAVBAR_LOGOUT"></span>
                    </a>
                </li>
                <li ng-if="!vm.authenticated">
                    <a id="tour_login" href="/register" class="btn btn-default login-button" role="button" translate="NAVBAR_LOGIN"></a>
                </li>
                <li class="dropdown">
                    <a href="#" id="tour_language" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span translate="RECENT_TH_LANGUAGE"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" ng-controller="LanguageSelectController">
                        <li><a ng-click="change('nd')">isiNdebele</a></li>
                        <li><a ng-click="change('xh')">isiXhosa</a></li>
                        <li><a ng-click="change('zu')">isiZulu</a></li>
                        <li><a ng-click="change('sotho')">Sesotho</a></li>
                        <li><a ng-click="change('st')">Sepedi</a></li>
                        <li><a ng-click="change('tn')">Setswana</a></li>
                        <li><a ng-click="change('ss')">siSwati</a></li>
                        <li><a ng-click="change('ve')">Tshivenda</a></li>
                        <li><a ng-click="change('ts')">Xitsonga</a></li>
                        <li><a ng-click="change('en')">English</a></li>
                    </ul>
                </li>
            </ul>
        </div> <!-- /.collapse.navbar-collapse -->
    </div> <!-- /.container-fluid -->
    <div ng-init="callResize();"></div>
</nav>

