<link rel="stylesheet" type="text/css" href="/static/bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/bower_components/ngDialog/css/ngDialog.min.css" />
<link rel="stylesheet" type="text/css" href="/static/bower_components/ngDialog/css/ngDialog-theme-default.min.css" />
<link rel="stylesheet" type="text/css" href="/static/bower_components/ngDialog/css/ngDialog-theme-plain.min.css" />
<link rel="stylesheet" type="text/css" href="/static/bower_components/ngDialog/css/ngDialog-custom-width.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/snackbarjs/snackbar.min.css" />
<link rel="stylesheet" type="text/css" href="/static/stylesheets/styles.css"/>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/navbarstyle.css"/>
<link rel="stylesheet" type="text/css" href="/static/stylesheets/search-feature.css"/>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">


<link rel="stylesheet" type="text/css" href="/static/lib/hopscotch/css/hopscotch.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
<link rel="stylesheet" type="text/css" href="/static/bower_components/components-font-awesome/css/font-awesome.min.css"/>

<!--fonts-->
<link rel="stylesheet" type="text/css" href="/static/fonts/Bubblegum/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/static/fonts/Ubuntu/stylesheet.css">
