<div class="ngdialog ngdialog-theme-default ng-scope">
    <div class="ngdialog-overlay"></div>
    <div class="ngdialog-content">
        <div class="ngdialog-message">
            <form role="form">
                <div class="form-group">
                    <label for="settings__password__old" translate="PASSWORD_CHANGE_OLD"></label>
                    <input type="password" class="form-control" id="settings__password__old" ng-model="formDataPassword.passwordOld" placeholder="{{ 'REGISTER_PH_PASSWORD' | translate }}" />
                </div>
                <div class="form-group">
                    <label for="settings__password" translate="SETTINGS_PASSWORD"></label>
                    <input type="password" class="form-control" id="settings__password" ng-model="formDataPassword.password1" placeholder="{{ 'REGISTER_PH_PASSWORD' | translate }}" />
                </div>
                <div class="form-group">
                    <label for="settings__confirm-password" translate="SETTINGS_PASSWORD_CONFIRM"></label>
                    <input type="password" class="form-control" id="settings__confirm-password" ng-model="formDataPassword.password2" placeholder="{{ 'PASSWORD_CHANGE_CONFIRM' | translate }}" />
                </div>
                <div class="form-group">
                    <button ng-click="requestChange()" type="submit" translate="BUTTON_SUBMIT"></button>
                    <a ng-click="ngDia4.close()" href="#" class="btn btn-default" translate="BUTTON_CANCEL"></a>
                </div>
            </form>
        </div>
        <div class="ngdialog-close"></div>
    </div>
</div>