<div ng-controller="ReminderController as vm">
    <div ng-hide="vm.hide">
        <div class="well contaier">
            <a ng-click="vm.hide = !vm.hide"><span style="color: black" class="glyphicon glyphicon-remove pull-right"></span></a>
            <h3 class="text-center">You need <b style="color: red;">{{ vm.pointsLeft }}</b> points to reach level <b style="color: green;">{{ vm.nextLevel }}</b>!</h3>
            <h4 class="text-center"><a href="/upload">Upload</a> <b style="color: red;">{{ vm.uploadNo }}</b> or <a href="/review">Review</a> <b style="color: red;">{{ vm.reviewNo }}</b> documents and reach level <b style="color: green;">{{ vm.nextLevel }}</b>!</h4>
        </div>
    </div>
</div>