<div class="container">
    <h1 translate="PROFILE_HEADING_SEARCHED" translate-value-name="{{ vm.searchedUsername }}"></h1>
    <hr>
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#uploads_tab_content_sp" data-toggle="tab" translate="PROFILE_UPLOADS_TAB"></a></li>
                <li><a href="#stat_tab_content_sp" data-toggle="tab" translate="PROFILE_STATS_TAB"></a></li>
            </ul>
        </div>
        <!--documents-->
        <div class="panel-body">
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="uploads_tab_content_sp">
                    <div class="panel-body">
                        <div ng-show="vm.hasDocs">
                            <div ng-repeat="doc in formDataDocs.uploads">
                                <div class="list-group marginBT5px">
                                    <a class="list-group-item" href="/docs?{{ doc.id }}">
                                        <div class="media">
                                            <div class="media-body">
                                                <div  class="media-heading">
                                                    <h4 class="salangblue inline paddingR1">{{ doc.title }}</h4>
                                                    <h5 class="inline">
                                                        <span class="blacktext label label-as-badge {{ getLanguageColor(doc.language) }}Color">{{ doc.language }}</span>
                                                    </h5>
                                                </div>
                                                {{ doc.description }}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="vm.hasDocs" class="row">
                            <h4 translate="PROFILE_NODOCS2"></h4>
                        </div>
                    </div>
                </div>
                <!--stats-->
                <div class="tab-pane fade" id="stat_tab_content_sp">
                    <ul class="list-group col-md-4">
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.reviews }}</span>
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <span translate="STATS_TAB_REVIEWS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.uploads }}</span>
                            <span class="glyphicon glyphicon-upload"></span>
                            <span translate="STATS_TAB_UPLOADS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.views }}</span>
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span translate="STATS_TAB_VIEWS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.points }}</span>
                            <span class="glyphicon glyphicon-certificate"></span>
                            <span translate="STATS_TAB_POINTS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.placement }}</span>
                            <span class="glyphicon glyphicon-list"></span>
                            <span translate="STATS_TAB_RANKING"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.level }}</span>
                            <span class="fa fa-chevron-up"></span>
                            <span translate="STATS_TAB_LEVEL"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
