<div class="container">
    <h1 translate="PROFILE_HEADING"></h1>
    <hr>
    <!--<br><br><br><br><br><br><br><hr>-->
    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="active"><a href="#uploads_tab_content" data-toggle="tab" translate="PROFILE_UPLOADS_TAB"></a></li>
                <li><a href="#settings_tab_content" data-toggle="tab" translate="PROFILE_SETTINGS_TAB"></a></li>
                <li><a href="#langs_tab_content" data-toggle="tab" translate="PROFILE_LANG_TAB"></a></li>
                <li><a href="#stat_tab_content" data-toggle="tab" translate="PROFILE_STATS_TAB"></a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div id="myTabContent" class="tab-content">
                <!--uploads for a profile-->
                <div class="tab-pane fade in active" id="uploads_tab_content">
                    <div class="panel-body">
                        <div ng-show="vm.hasDocs">
                            <div class="list-group marginBT5px" ng-repeat="doc in formDataDocs.uploads">
                                <a class="list-group-item clearfix" href="#" ng-click="clickToOpen(0, doc.id)">
                                    <div class="media">
                                        <div class="media-body">
                                            <div  class="media-heading">
                                                <h4 class="salangblue inline paddingR1">{{ doc.title }}</h4>
                                                <h5 class="inline">
                                                    <span class="blacktext label label-as-badge {{ getLanguageColor(doc.language) }}Color">{{ doc.language }}</span>
                                                </h5>
                                            </div>
                                            {{ doc.description }}
                                        </div>
                                        <span class="media-right media-middle">
                                            <span class="btn btn-default media-right" title="{{ 'PROFILE_EDIT' | translate }}" ng-click="clickToOpen(1, doc.id)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </span>
                                        </span>
                                        <span class="media-right media-middle">
                                            <span class="btn btn-danger media-right" ng-click="clickToOpen(2, doc.id)" title="{{ 'PROFILE_DELETE' | translate }}">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </span>
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div ng-hide="vm.hasDocs" class="row">
                            <h4 class="inline paddingR1" translate="PROFILE_NODOCS"></h4>
                            <h4 class="inline"><a href="/upload" translate="PROFILE_NODOCS_HERE"></a></h4>
                        </div>
                    </div>
                </div>
                <!--settings tab-->
                <div class="tab-pane fade" id="settings_tab_content">
                    <div ng-controller="ProfileSettingsController as vm2">
                        <div class="container" ng-show="vm2.authenticatedAccount">
                            <form role="form" class="settings" ng-submit="vm2.update()">
                                <div class="form-group">
                                    <label for="settings__name" translate="SETTINGS_NAME"></label>
                                    <input type="text" class="form-control" id="settings__name" ng-model="vm2.authenticatedAccount.name" placeholder="{{ 'REGISTER_PH_NAME' | translate }}"/>
                                </div>
                                <br>
                                <a ng-click="changePassword()" translate="PROFILE_CHANGE_PASSWORD"></a>
                                <br><br><br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" translate="SETTINGS_SUBMIT"></button>
                                    <button type="button" class="btn btn-danger" ng-click="vm2.destroy()" translate="SETTINGS_DELETE"></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--languages-->
                <div class="tab-pane fade" id="langs_tab_content" ng-controller="ProfileLanguageController as vm3">
                    <form class="container" role="form" ng-submit="vm3.updateLanguages()">
                        <h5 translate="REGSITER_FORM_LANG_H"></h5>
                        <div class="input-group">
                            <div class="checkbox checkbox-primary">
                                <div >
                                    <input id="checkbox1" class="styled" type="checkbox" ng-model="nd_check">
                                    <label for="checkbox1">isiNdebele</label>
                                </div>
                                <div >
                                    <input id="checkbox2" class="styled" type="checkbox" ng-model="xh_check">
                                    <label for="checkbox2">isiXhosa</label>
                                </div>
                                <div>
                                    <input id="checkbox3" class="styled" type="checkbox" ng-model="zu_check">
                                    <label for="checkbox3">isiZulu</label>
                                </div>
                                <div >
                                    <input id="checkbox4" class="styled" type="checkbox" ng-model="so_check">
                                    <label for="checkbox4">Sesotho</label>
                                </div>
                                <div >
                                    <input id="checkbox5" class="styled" type="checkbox" ng-model="sotho_check">
                                    <label for="checkbox5">Sepedi</label>
                                </div>
                                <div >
                                    <input id="checkbox6" class="styled" type="checkbox" ng-model="tswana_check">
                                    <label for="checkbox6">Setswana</label>
                                </div>
                                <div >
                                    <input id="checkbox7" class="styled" type="checkbox" ng-model="si_check">
                                    <label for="checkbox7">siSwati</label>
                                </div>
                                <div >
                                    <input id="checkbox8" class="styled" type="checkbox" ng-model="ve_check">
                                    <label for="checkbox8">Tshivenda</label>
                                </div>
                                <div >
                                    <input id="checkbox9" class="styled" type="checkbox" ng-model="ts_check">
                                    <label for="checkbox9">Xitsonga</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary" translate="BUTTON_UPDATE"></button>
                    </form>
                </div>
                <div class="tab-pane fade" id="stat_tab_content">
                    <div class="container col-md-12">
                        <a href="/leaderboard?1"><h3 class="text-center" translate="STATS_TAB_H"></h3></a>
                        <br>
                        <!--<h4 class="text-center">You need <b style="color: red;">{{ formDataStats.pointsLeft }}</b> points to reach level <b style="color: green;">{{ formDataStats.level + 1 }}</b>!</h4>-->
                        <h4 class="text-center">
                            <span translate="LEADERBOARD_NH4"></span>
                            <span><b style="color: red;">{{ formDataStats.pointsLeft }}</b></span>
                            <span translate="LEADERBOARD_NH5"></span>
                            <span><b style="color: green;">{{ formDataStats.level + 1 }}</b>!</span>
                        </h4>
                        <br>
                        <div class="progress">
                            <div class="input-group">
                                <span class="input-group-addon" style="background-color: green; color: white;border-color: black" translate="LEADERBOARD_NH2" translate-value-level="{{ formDataStats.level }}"></span>
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ formDataStats.percentage }}" aria-valuemin="{{ formDataStats.capmin }}" aria-valuemax="{{ formDataStats.capmax }}" style="width: {{ formDataStats.percentage }}%;">
                                    <span>{{ formDataStats.points }}/{{ formDataStats.capmax }} ({{ formDataStats.percentage }}%)</span>
                                </div>
                                <span class="input-group-addon" style="background-color: dimgray;color: white;border-color: black" translate="LEADERBOARD_NH2" translate-value-level="{{ formDataStats.level+1 }}"></span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group col-md-4">
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.reviews }}</span>
                            <span class="glyphicon glyphicon-ok-circle"></span>
                            <span translate="STATS_TAB_REVIEWS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.uploads }}</span>
                            <span class="glyphicon glyphicon-upload"></span>
                            <span translate="STATS_TAB_UPLOADS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.views }}</span>
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span translate="STATS_TAB_VIEWS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.points }}</span>
                            <span class="glyphicon glyphicon-certificate"></span>
                            <span translate="STATS_TAB_POINTS"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.placement }}</span>
                            <span class="glyphicon glyphicon-list"></span>
                            <span translate="STATS_TAB_RANKING"></span>
                        </li>
                        <li class="list-group-item">
                            <span class="badge">{{ formDataStats.level }}</span>
                            <span class="fa fa-chevron-up"></span>
                            <span translate="STATS_TAB_LEVEL"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
