<div ng-controller="LeaderboardWidgetController as vm">
    <div class="list-group" ng-show="vm.show">
        <a href="/leaderboard?1" class="list-group-item-heading">
            <b translate="WIDGET_LEADERBOARD_H"></b>
        </a>
        <div class="list-group-item list-group-item-info">
            <b translate="LEADERBOARD_USERNAME_H"></b>
            <b class="pull-right" translate="WIDGET_STATS_H3"></b>
        </div>
        <div ng-repeat="user in vm.all_users">
            <a class="list-group-item" href="/profiles/+{{ user.username }}">
                <span ng-switch="user.position">
                    <span ng-switch-when="1">
                        <span class="gold glyphicon glyphicon-star" aria-hidden="true"></span>
                    </span>
                    <span ng-switch-when="2">
                        <span class="silver glyphicon glyphicon-star" aria-hidden="true"></span>
                    </span>
                    <span ng-switch-when="3">
                        <span class="bronze glyphicon glyphicon-star" aria-hidden="true"></span>
                    </span>
                    <span ng-switch-default>
                        <span class="whiteStar glyphicon glyphicon-star" aria-hidden="true"></span>
                    </span>
                </span>
                {{ user.username }}
                <span class="badge">{{ user.points }}</span>
            </a>
        </div>
        <div ng-show="vm.empty">
            <a href="#">No users registered</a>
        </div>
    </div>
</div>

