<div ng-controller="StatsWidgetController as vm">
    <div class="list-group" ng-if="vm.show">
        <a href="/stats" class="list-group-item-heading">
            <b translate="WIDGET_STATS_H"></b>
        </a>
        <div class="list-group-item list-group-item-info">
            <b translate="WIDGET_STATS_H1"></b>
            <b class="pull-right" translate="WIDGET_STATS_H2"></b>
        </div>
        <a ng-if="vm.stats['no_users']" class="list-group-item" href="/leaderboard?1">
            <span class="badge">{{ vm.stats['no_users'] }}</span>
            <span class="glyphicon glyphicon-user"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_USERS"></span>
        </a>
        <a ng-if="vm.stats['no_uploads']" class="list-group-item" href="/recent_uploads?1">
            <span class="badge">{{ vm.stats['no_uploads'] }}</span>
            <span class="glyphicon glyphicon-upload"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_UPLOADS"></span>
        </a>
        <a ng-if="vm.stats['no_reviews']" class="list-group-item">
            <span class="badge">{{ vm.stats['no_reviews'] }}</span>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_REVIEWS"></span>
        </a>
        <a ng-if="vm.stats['nd']" class="list-group-item" href="/lang/nd">
            <span class="badge">{{ vm.stats['nd'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_ND"></span>
        </a>
        <a ng-if="vm.stats['xh']" class="list-group-item" href="/lang/xh">
            <span class="badge">{{ vm.stats['xh'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_XH"></span>
        </a>
        <a ng-if="vm.stats['zu']" class="list-group-item" href="/lang/zu">
            <span class="badge">{{ vm.stats['zu'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_ZU"></span>
        </a>
        <a ng-if="vm.stats['st']" class="list-group-item" href="/lang/st">
            <span class="badge">{{ vm.stats['st'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_ST"></span>
        </a>
        <a ng-if="vm.stats['sotho']" class="list-group-item" href="/lang/sotho">
            <span class="badge">{{ vm.stats['sotho'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_SOTHO"></span>
        </a>
        <a ng-if="vm.stats['tn']" class="list-group-item" href="/lang/tn">
            <span class="badge">{{ vm.stats['tn'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_TN"></span>
        </a>
        <a ng-if="vm.stats['ss']" class="list-group-item" href="/lang/ss">
            <span class="badge">{{ vm.stats['ss'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_SS"></span>
        </a>
        <a ng-if="vm.stats['ve']" class="list-group-item" href="/lang/ve">
            <span class="badge">{{ vm.stats['ve'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_VE"></span>
        </a>
        <a ng-if="vm.stats['ts']" class="list-group-item" href="/lang/ts">
            <span class="badge">{{ vm.stats['ts'] }}</span>
            <span class="fa fa-book"></span>
            <span class="paddingL5px" translate="WIDGET_STATS_TS"></span>
        </a>
        <!--solr stuff-->


    </div>
</div>
