<div ng-controller="UploadsWidgetController as vm">
    <div class="list-group" ng-show="vm.show">
        <a href="/recent_uploads?1" class="list-group-item-heading">
            <b translate="WIDGET_UPLOADS_H"></b>
        </a>
        <div class="list-group-item list-group-item-info">
            <b translate="RECENT_TH_TITLE"></b>
            <b class="pull-right" translate="RECENT_TH_LANGUAGE"></b>
            <!--<span class="badge pull-right" translate="RECENT_TH_LANGUAGE"></span>-->
        </div>
        <div ng-repeat="doc in vm.uploads">
            <a class="list-group-item" href="/docs?{{ doc.id }}">
                {{ doc.title }}
                <span class="blacktext label label-as-badge {{ getLanguageColor(doc.language) }}Color pull-right">{{ doc.languageName }}</span>
            </a>
        </div>
        <div ng-show="vm.nodata">
            <a href="#">No uploads yet.</a>
        </div>
    </div>
</div>

