<div ng-controller="UserWidgetController as vm">
    <div class="list-group" ng-show="vm.show">
        <a href="/leaderboard?1" class="list-group-item-heading">
            <b translate="WIDGET_USERS_H"></b>
        </a>
        <div class="list-group-item list-group-item-info">
            <b translate="SETTINGS_USERNAME"></b>
            <b class="pull-right" translate="RECENT_TH_DATE"></b>
            <!--<span class="badge pull-right" translate="RECENT_TH_DATE"></span>-->
        </div>
        <div ng-show="vm.notempty">
            <div ng-repeat="user in vm.users">
                <a class="list-group-item" href="/profiles/+{{ user.username }}">
                    <span class="badge">{{ user.date }}</span>
                    {{ user.username }}
                </a>
            </div>
        </div>
        <div ng-hide="vm.notempty">
            <a href="#">No new users to show.</a>
        </div>
    </div>
</div>

