/*
* All the styles for the navbar
*/
.navbar-default {
    background-color: #337ab7 !important;
    border-color: #2e6da4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    -ms-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
    width: 100%;
    height: 150px;
    /*overflow: hidden;*/
}


.navbar-default.smaller{
    height: 75px;
}



h1#logo {
    display: inline-block;
    height: 150px;
    line-height: 150px;
    float: left;
    font-family: "bubblegum_sansregular", sans-serif;
    font-size: 70px;
    color: white;
    font-weight: 400;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    margin-top:0;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
}

h1#logo2 {
    display: inline-block;
    font-family: "bubblegum_sansregular", sans-serif;
    font-size: 70px;
    color: white;
    font-weight: 400;
}


h1.smaller#logo {
    display: inline-block;
    height: 75px;
    line-height: 75px;
    font-size: 30px;
}

.login-button{
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}


.login-button:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad !important;
}

#spacer{
    height:150px;
    width:100%;
}

#drop_down_1, #drop_down_2, #tour_language{
    font-size: 20px;
    background-color: #337ab7;
    color: white;
    border-color: #337ab7;
}

#tour_profile, #tour_login, #logout_btn{
    font-size: 20px;
}

.navbar {
    margin-bottom: 0;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
.navbar-default .navbar-text {
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #000000;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #000000;
}
.navbar-default .navbar-link {
    color: #000000;
}
.navbar-default .navbar-link:hover {
    color: #000000;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #000000;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #000000;
        background-color: #ffffff;
    }
}



