#searchForm {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: none;
    margin: 0 auto;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

fieldset {
    border: none;
}

#searchInputContainer {
    /* This div contains the transparent search box */
    width: 420px;
    height: 36px;
    background: url("../images/searchBox.png") no-repeat;
    float: left;
    margin-right: 12px;
}

#s {
    /* The search text box. */
    border: none;
    color: #888888;
    background: url("../images/searchBox.png") no-repeat;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    margin-right: 12px;
    outline: medium none;
    padding: 0 0 0 35px;
    text-shadow: 1px 1px 0 white;
    width: 385px;
}


/* The submit button */

#submitButton {
    background: url('../images/buttons.png') no-repeat;
    width: 83px;
    height: 36px;
    text-indent: -9999px;
    overflow: hidden;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

#submitButton:hover {
    background-position: left bottom;
}

#resultsSeachBarBack {
    background-color: #4885ed;
    width: 100%;
    height: 80px;
    padding: 23px 200px 20px;
    margin: 0;
    position: relative;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

.custom-bg {
    background-color: white;
    color: black;
}


/*-----------------------------------------------------*/

.resultTitle {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    padding: 0px 10px;
    color: #337ab7;
    vertical-align: top;
    float: left;
}

.resultURL {
    font-size: 13px;
    font-weight: normal;
    white-space: text-wrap;
    padding: 0px 10px;
    color: #006621;
    vertical-align: top;
    float: left;
}

.resultMetaData {
    font-size: 13px;
    font-weight: normal;
    white-space: text-wrap;
    padding: 0px 10px;
    color: black;
    vertical-align: top;
    float: left;
}


/*General Label Style*/

.langLabels {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 13px;
}

.langLabels span {
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
    padding: 1px 2px;
    color: black;
    vertical-align: top;
    float: left;
    border-radius: 18px;
    margin-bottom: 2px;
}


/*COLOURS*/

.ndColor {
    background-color: #c299ff;
}

.sothoColor {
    background-color: #ffb3ff;
}

.stColor {
    background-color: #ffaa80;
}

.ssColor {
    background-color: #ffff66;
}

.tsColor {
    background-color: #e0e0d1;
}

.tnColor {
    background-color: #ff8080;
}

.veColor {
    background-color: #d9b38c;
}

.xhColor {
    background-color: #99ff99;
}

.zuColor {
    background-color: #99ddff;
}

.enColor {
    background-color: #c299ff;
}


/*--------------------------------------------*/

.emoji {
    font-family: Segoe UI Emoji, Segoe UI Symbol, Quivira, Symbola;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.posRate {
    color: #33cc33;
}

.negRate {
    color: #e60000;
}

.reportLang {
    color: #e60000;
    font-style: italic;
}

.submitButton {
    font-size: 24px;
    margin-right: 30px;
}