/*LOGO*/
.logo-custom{
    width: 80%;
    position: inherit;
}

.logo-custom-40pc{
    width: 40%;
    position: inherit;
}

.logo-custom-full{
    position: inherit;
}


.cell-align{
    text-align: center;
}



/*PP?*/
#ppBody {
    font-size:11pt;
    width:100%;
    margin:0 auto;
    text-align:justify;
}

#ppHeader {
    font-family: verdana;
    font-size:21pt;
    width:100%;
    margin:0 auto;
}

.ppConsistencies {
    display:none;
}


/*3 PIECE LAYOUT*/
html, body {
    margin:0;
    padding:0;
    height:100%;
}

#wrapper {
    min-height:100%;
    position:relative;
    border: 0;
    padding: 0;
}

#header {
    background:#ededed;
    padding:10px;
}

#content {
    padding-bottom: 70px; /* Height of the footer element */
}

#footer {
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
}


/*UPLOADS*/
.fileinput-custom{
    opacity: 0;
    position:absolute;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
}



/*GLYPH ICONS*/


.fa.fa-arrow-circle-o-up{
    font-size: 100px;
    color: gray;
}

.fa.fa-arrow-circle-o-up:hover{
    color: #337ab7;
}

/*PROGRESS BAR*/

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}

.progress, .progress-bar{
    height: 28px;
}
.progress-bar{
    padding: 4px;
}



/*LANGUAGE BADGES*/
.label-as-badge {
    border-radius: 1em;
}



/*COLOURS*/
.salangblue{
    color: #337ab7;
}

.tableheading{
    color: rgba(0, 0, 0, 0.70);
}



/*LEADERBOARD STARS*/

.gold {
    color: #D9D919;
}

.silver {
    color: grey;
}

.bronze {
    color: #A67D3D;
}

.whiteStar{
    color: white;
}



/*COLOUMNS*/
.side-col{
    background-color: #f5f5f5 !important;
    height: 100%;
    border: 0;
}


/*LAYOUT COLOURS*/


.col-none{
    background-color: #f5f5f5 !important;
}

.col-orange-strong{
    background-color: #ff8d00;
}

.col-orange-faded{
    background-color: #ffcb5f;
    height: 100%;
    border: 0;
}

.col-yellow-strong{
    background-color: #fffe35;
}

.col-yellow-faded{
    background-color: #ffff8f;
}

.align-center{
    align-content: center !important;
    alignment: center !important;
    text-align: center !important;
}


/*FOOTER*/
.grey-bg{
    background-color: gray;
}

.copyright{
    text-align: center;
    color: white;
}

.footer-table{
    width: 100%;
    background-color: gray;
    border: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-cust{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
}

.footer-logo{
    width: 15%;
    height: 25%;
}



/*GENERAL LAYOUT PROPERTIES*/
.fill {
    min-height: 100%;
    height: 100%;
}

.inline{
    display: inline-block;
}


/*MARGINS AND PADDING*/
.adv_pad{
    padding-left: 5px;
}

.no-padLR{
    padding-right: 0;
    padding-left: 0;
}

.paddingR1{
    padding-right: 1%;
}

.marginBT5px{
    margin-bottom: 5px;
    margin-top: 5px
}

.nobordernopad{
    border: 0px;
    padding: 0px;
}

.row-margin-2perc{
    margin-bottom: 2%;
}

.row-margin-5perc{
    margin-bottom: 5%;
}

.no-padmar-top{
    padding-top: 0px;
    margin-top: 0px;
}

.no-padmar-bot{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.paddingL5px{
    padding-left: 2px;
}


/*TEXT*/
.blacktext {
    color: black !important;
}



/*ELEMENTS*/
.verticalLineLeft{
    border-left: solid black;
}

.verticalLineRight{
    border-right: solid black;
}

[hidden] {
    display: none;
}

.lang-select-cust{
    float: right;
}

.column-custom-2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

.column-custom-1{
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

.div-stretch{
    height: 80vh;
}

select:required:invalid {
    color: gray;
}

option[value=""][disabled] {
    display: none;
}

option {
    color: black;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}

